@import url(../css/global.css);

body {
    background-color: #f0ecec;
}

header{
    display: inline-flex;
    justify-content: space-between;
    padding: 0 24px;
    background-color: white;
}
#container-head {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: white;
    padding: 5px;


}
#navegacao {
    justify-content: flex-start;
    
}
#container-head nav {
    width: 146px;
    height: 24px;
    margin: 12px 2px;}



.menu{
    margin-right: 1px;
    align-items: flex-start;
}


.search {
    display: inline-flex;
    width: 700px;
    padding: 2px;
    justify-content: center;
    align-content: center;
}

.search input {
    width: 404px;
    border: 1px solid #ccc;
    border-radius: 1rem 0 0 1rem;
    padding: 6px;
    font-size: 1rem;
    padding-left: 1rem;

}

.search button {
    border-radius: 0 1rem 1rem 0;
    padding-right: 1rem;
    padding-left: 0.5rem;
    border: 1px solid #ddd;
   
}

.social {
    width: 130px;
    height: 34px;
    display: flex;
    gap: 19px;
    align-items: flex-end;
    margin-right: 35px;
 }
 .avatar{
    display: flex;
      
    justify-content: flex-end;
    vertical-align: baseline;
 }
 .social .avatar img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position:50% 50%;

     
}  
#container-conteudo{
    display: flex;
    width: 100vw;
    align-content: center;
}

main{
    display: inline-flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 2rem;
    max-width: 952px;

}
#conteudo-pagina {
    align-items: flex-start;
    align-content: space-between;
    gap: 16px;
}

#video-principal {

    width: 952px;
    justify-content: flex-start;
 
}


.video img {
    width: 100%;
}
.titulo-do-video{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.video-actions{
    width: 902px;
    display:inline-flex;
    flex-direction:row ;
    gap:16px;
    font-size:14px;
    justify-content: space-between;
    
    font-weight: 600;
    
}
.canal{
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.nome-canal{
    font-weight: 600;
    align-content: center;
    
}
.nome-canal span{
    color: #515151;
    font-weight: 400;
}
.video-actions button{
    background-color: #CC0000; 
    width: 159px;
    height: 40px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.like{
    display: inline-block;
    vertical-align: middle;
 }


 .visualizacoes{
   margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
 }
 .descricao{
    color: #515151;
    font-weight: 400;
    font-size: 14px;
 }


 aside{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 375px;
    min-width: 375px;
    margin-top: 2rem;
    margin-left: 8px;
    flex:1;
 }
 .videos-relacionados{
    display: inline-flex;
    flex-direction: column;
 }
 .videos-relacionados img{
    width: 160px;
 }

 .relacionados{
    display: inline-flex;
    flex-direction: row;
    gap:12px;
    margin-bottom: 8px;
 }
 .thumb{
    align-content: flex-start;
 }
.videos-relacionados h2{
    font-size: 14px;
    font-weight: 600;
}
.relacionados .canal-relacionado{
    font-size: 12px;
    font-weight: 400;
    color: #515151;
}